.ant-card-head-title {
    display: inline-block;
    flex: 1 1;
    padding: 16px 0;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    background-color: #E6EE9C;
}

.ant-card-head {
    min-height: 48px;
    margin-bottom: -1px;
    padding: 0 24px;
    color: rgba(0, 0, 0, 0.85);
    font-weight: 500;
    font-size: 16px;
    background: #E6EE9C;
    border-bottom: 1px solid #f0f0f0;
    border-radius: 2px 2px 0 0;
}
.ant-card-bordered .ant-card-cover {
    margin-top: -1px;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    justify-content: space-around;
}

.ant-card-cover img {
    object-fit: cover
}

